{% extends 'base.html' %}

{% load staticfiles %}

{% load rango_extras %}

{% block title %}Index{% endblock %}

{% block side_block %}  {% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
    <div class="page-header">
        <h2>Bienvenido! usuario: {{ user.username }}</h2>
{% else %}
        <h2>Bienvenido! </h2>
{% endif %}
    </div>
   
    <div class="row placeholders">
        {% if medidores %}
            {% for medidor in medidores %}
            <div class="col-xs-12 col-sm-4 placeholder">
                <div class="panel panel-primary">
                    <div class="panel-heading">
            	       <h3 class="panel-title">
                        <a href="{% url 'medidor'  medidor.slug %}">{{ medidor.nombre }}</a></h3>
    	           </div>
                </div>  

	            <div class="panel panel-default">
                    <div id="ultimo_gauge" class="panel-body" 
                        style="width:100%;height:150px"></div>
                </div>
            </div>
            {% endfor %}
        {% endif %}    
	</div>	
        

        
        

        {% block extrajs %}
        <!-- codigo del chart de prueba-->
        <script src="{% static "js/chart_dia.js" %}"></script>
        <script src="{% static "js/chart_mes.js" %}"></script>
        <script src="{% static "js/chart_gauge.js" %}"></script>
        {% endblock %}
    {% endblock %}
