{% extends 'base.html' %}

{% load staticfiles %}

{% load rango_extras %}

{% block title %}{{ medidor_name }}{% endblock %}

{% block body_block %}

    <h1>{{ medidor_name }}</h1>
    {% if medidor %}

        {% if resumen %}
            <table class="table">
                <thead>
                  <tr>
                    <th>RESUMEN</th>
                  </tr>
                </thead>

                <tbody>
                    <tr>
                      <th scope="row">MÁXIMO</th>
                      <td class="warning"><b>{{resumen.0.maximo}}</b> KWh</td>
                    </tr>
                    <tr>
                      <th scope="row">MÍNIMO</th>
                      <td class="warning"><b>{{resumen.0.minimo}}</b> KWh</td>
                    </tr>
                    <tr>
                      <th scope="row">PROMEDIO</th>
                      <td class="success">{{resumen.0.promedio|floatformat}} KWh</td>
                    </tr>
                </tbody>
            </table>

            <div>
                <a href="{% url 'historico' medidor.slug %}" class="btn btn-outline-inverse btn-lg" >Histórico</a>
                <a href="{% url 'diario' medidor.slug %}" class="btn btn-outline-inverse btn-lg" >Diario</a>
                <a href="{% url 'mensual' medidor.slug %}" class="btn btn-outline-inverse btn-lg" >Mensual</a>
            </div>
        {% endif %}
        
        
    {% else %}
       <h2 class="bg-warning">El medidor: {{ medidor_name }} no existe! </h2>
    {% endif %}

    {% block extrajs %}
        <!-- codigo del chart-->
        <script src="{% static "js/stock_med.js" %}"></script>
    {% endblock %}
    

{% endblock %}
 

