{% extends 'base.html' %}

{% load staticfiles %}

{% load rango_extras %}

{% block title %}{{ medidor_name }}-mensual{% endblock %}

{% block body_block %}

    <h1>{{ medidor_name }}
        <small>Resumen Mensual</small>
    </h1>
    {% if medidor %}
        <div class="col-md-6">
        {% if last_medida %}
        <h3> Última medida: <span class="bg-primary">{{ last_medida.kwh }} KWh</span> </h3>
        {% else %}
                <strong>No se encuentra la última medida</strong>
        {% endif %}
        </div>
        <!--<form action="." method="GET"> -->
        <div class="col-md-6">
        <label for="mes">Introducir un mes: </label>
        <input type="month" id="mes" name="mes" value="2014-2-1">
            <button id="btn_buscar" class="btn btn-lg btn-primary">Buscar</button>
        <!--</form>-->

        </div>
        <span id="jquery_test1"></span>
        <div class="panel panel-default">
            <div id="resumen_mes" class="panel-body" style="width:100%;height:314px"></div>
        </div>

        <div>
                <a href="{% url 'historico' medidor.slug %}" class="btn btn-outline-inverse btn-lg" >Histórico</a>
                <a href="{% url 'diario' medidor.slug %}" class="btn btn-outline-inverse btn-lg" >Diario</a>
                <a href="{% url 'mensual' medidor.slug %}" class="btn btn-outline-inverse btn-lg" >Mensual</a>
        </div>
        <p id="med_name">{{medidor_name_slug}} </p>    
    {% else %}
       <h2 class="bg-warning">El medidor: {{ medidor_name }} no existe! </h2>
    {% endif %}

    

    {% block extrajs %}
        <!-- codigo del chart-->
        <script src="{% static "js/chart_mes.js" %}"></script>
    {% endblock %}
    

{% endblock %}
 
